@font-face {
  font-family: "Bloxyl";
  src:
    local("Bloxyl"),
    url("./assets/font/Bloxyl.otf");
}

html, body {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
  margin: 0 !important;
  padding: 3 !important;
  overflow: hidden;
  font-family: "Bloxyl";
}


#render {
  position: fixed;
  display: block;
  z-index: 0;
}

.ui {
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: auto;
  position: fixed;
  margin: 0;
  font-family: "Bloxyl";
}

.page {
  position: fixed;
  background-color: none;
  display: none;
}

.centeredText {
  text-align: center;
}

.ui.Button1 {
  background-color: #a0a8b8;
  border: 4px solid #667788;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  transition-duration: 0s;
}

.ui.Button1:hover {
  background-color: #8899aa;
}

.ui.Button1.unfinished {
  background-color: #404850;
  border: 4px solid #303840;
  cursor: not-allowed;
}

.ui.Input1 {
  background-color: #333333;
  font-size: 30px;
  color: #ffffff;
}

.ui.Input1.unfinished {
  background-color: #222222;
  cursor: not-allowed;
}

.ui.keybindsText {
  font-size: 30px;
}

.ui.handlingText {
  font-size: 30px;
}

.ui.handlingText.unfinished {
  color: #888888;
}

.ui.text {
  font-size: 20px;
}